body {
    background-color: deepskyblue;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.central {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.central img{
    width: 250px;
    margin-left: 25px;
}

.central label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.central input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.central a {
    font-size: 12px;
    color: navy;
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
    text-align: right;
}

.b {
    background-color: navy;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.b:hover {
    background-color: dodgerblue;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    .central {
        width: 90%; /* Ajustar largura em telas menores */
        padding: 15px;
    }

    .central img {
        width: 200px; /* Reduzir tamanho da imagem */
        margin-left: 0;
    }

    .central input {
        width: 100%; /* Garantir que o input ocupe todo o espaço */
    }

    .b {
        font-size: 14px; /* Ajustar tamanho do texto */
        padding: 8px 15px;
    }
}
